input[type=text],select{
    width: 100%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],input[type=reset]{
    width:100%;
    background-color: #4CAF50;
    color: white;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover{
    background-color: #45a049;
}

table.type03{
    border-collapse:collapse;
    text-align: left;
    line-height: 1.5;
    border-top:1px solid #ccc;
    border-left:3px solid #369;
    margin:20px 10px;
}

table.type03 th{
    width:147px;
    padding:10px;
    font-weight:bold;
    vertical-align: top;
    color: #153d73;
    border-right:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.type03 td{
    width: 349px;
    padding:10px;
    vertical-align: top;
    border-right:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}




